
<%= render 'shared/page_title', title: "Mmmm Smells Great" %>
    <br>
    <div align="center">
        <%= will_paginate %>
    </div>

  <%= render 'recipe', obj: @recipes %>

  <div align="center">
      <%= will_paginate %>
  </div>
